<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HalfNes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <HalfNes.Properties.Settings>
            <setting name="soundFiltering" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sampleRate" serializeAs="String">
                <value>44100</value>
            </setting>
            <setting name="outputvol" serializeAs="String">
                <value>13107</value>
            </setting>
            <setting name="showScope" serializeAs="String">
                <value>False</value>
            </setting>
        </HalfNes.Properties.Settings>
    </userSettings>
</configuration>